# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Coverage directory used by tools like istanbul
coverage

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Output of `npm pack`
*.tgz

# Output of `wp-scripts plugin-zip`
*.zip

# dotenv environment variables file
.env
/vendor/miles-no/miles_web_components/src/
/vendor/miles-no/miles_web_components/.github/
/vendor/miles-no/miles_web_components/.vscode/
/vendor/miles-no/miles_web_components/.eslintrc.json
/vendor/miles-no/miles_web_components/.gitignore
/vendor/miles-no/miles_web_components/.prettierrc
/vendor/miles-no/miles_web_components/index.html
/vendor/miles-no/miles_web_components/main.js
/vendor/miles-no/miles_web_components/package.json
/vendor/miles-no/miles_web_components/package-lock.json
/vendor/miles-no/miles_web_components/README.md
/vendor/miles-no/miles_web_components/style.css
/vendor/miles-no/miles_web_components/vite.config.js
